<div>
	<div>
		<h1><a>Selecciona la imagen del lugar que te interesa</a></h1>
	</div>
	<a>
		<img id="welcomeImage" src="images/Desert.jpg"/>
		<img class="glyphicon glyphicon-chevron-left arrows arrow-left" src="images/Arrow-Right.jpg" style="transform: scale(-1, 1);"></img>
		<button class="btn-info bottom-space arrows" id="notlike">Not Like</button>		
		<button class="btn-info bottom-space arrows" id="like">Like</button>
		<img class="glyphicon glyphicon-chevron-left arrows arrow-right" src="images/Arrow-Right.jpg"></img>
	</a>
	<button class="btn-info bottom-space arrows" id="infoImage">Ver Detalles</button>
	<button class="btn-info bottom-space arrows" id="recommendations">Encuesta</button>
</div>
<a id="trip-open" class="fancybox-effects-c" alt="" title=""> </a>
