<div>
	<div>
		<h1><a>Selecciona la imagen del lugar que te interesa</a></h1>
	</div>
	<a>
		<img id="welcomeImage" src="images/Desert.jpg"/>
		<span class="glyphicon glyphicon-chevron-left arrows arrow-left"></span>
		<button class="btn-info bottom-space arrows" id="infoImage">Ver Detalles</button>
		<span class="glyphicon glyphicon-chevron-right arrows arrow-right"></span>
		<button class="btn-info bottom-space arrows" id="recommendations">Recomendar</button>
	</a>
</div>
<a id="trip-open" class="fancybox-effects-c" alt="" title=""></a>