<div>
	<div>
		<h1><a>Selecciona la imagen del lugar que te interesa</a></h1>
	</div>
	<div >
		<img id="welcomeImage" src="images/Desert.jpg"/>
	</div>
	<div style="display: inline-block;">
		<div class="imgsDivs">
			<img class="icons" id="previous-image" src="icons/Arrow-Right.jpg" style="transform: scale(-1, 1);"></img>
		</div>
		<div  class="imgsDivs">
			<img class="icons" src="icons/Dislike.jpg" id="notlike"></img>		
		</div>
		<div  class="imgsDivs">
			<img class="icons" src="icons/Like.jpg" id="like"></img>
		</div>
		<div  class="imgsDivs">
			<img class="icons" id="next-image" src="icons/Arrow-Right.jpg"></img>
		</div>
	</div>
	<div>
		<button class="btn-info bottom-space" id="infoImage">Ver Detalles</button>
		<button class="btn-info bottom-space" id="uploadImage">Subir imagen</button>
		<button class="btn-info bottom-space" id="recommendations">Encuesta</button>
	</div>
</div>
<a id="trip-open" class="fancybox-effects-c" alt="" title=""> </a>